{% layout 'layout.liquid'%}
{% block content %}
    <table class="table">
        <h2 class="display-6">Visited Breweries</h2>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Street</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Phone</th>
                <th scope="col">View Brewery Record</th>
            </tr>
        </thead>
        <tbody>
            {% for brewery in breweries%}
                    <tr>
                        <td>
                            <a href={{brewery.info.website_url}}>
                                {{brewery.info.name}}
                            </a>
                        </td>
                        <td> {{brewery.info.brewery_type}} </td>
                        <td> {{brewery.info.street}} </td>
                        <td> {{brewery.info.city}} </td>
                        <td> {{brewery.info.state}} </td>
                        <td>
                            <a href="tel:{{brewery.info.phone}}">
                                {{brewery.info.phone}}
                            </a>
                        </td>
                        <td>
                            <a href="/brewery/{{ brewery._id }}" class="btn btn-info">
                                View Brewery
                            </a>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}