{% layout 'layout.liquid' %}
{% block content %}
<br>
<div class="container-md">
    <h2>{{brewery.open_brewery_db_id}} </h2>
    <h2>
        {% if brewery.visited %}
            <h3>Visited: Yes</h3>
        {% else %}
            <h3>Visited: Not Yet</h3>
        {% endif %}
    </h2>
    <br>
       <div class="btn-group btn-group-sm" role="group">
    {% if brewery.visited %}
        <a href="/brewery/visitedlist">
            <button type="button" class="btn btn-light">Return to Breweries Visited</button>
        </a>
    {% else %}
        <a href="/brewery/bucketlist">
            <button type="button" class="btn btn-light">Return to Brewery Bucket List</button>
        </a>
    {% endif %}
        <form action="/brewery/{{brewery.id }}?_method=PUT" method="POST">
            <input type="submit" value="Change Visited Status" class="btn btn-info">
        </form>
        <form action="/brewery/{{ brewery.id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
</div>
</div>
<h1 style="text-align: center;"> Beers Tasted</h1>
<div style=
" 
    display: flex;
    justify-content: center;
    margin: 1%;
">
    <a href="/beer/{{brewery.id}}/create">
        <button type="button" class="btn btn-success">Add Beer to Tasted List</button>
    </a>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Tasting Notes</th>
        <th scope="col">Date Tasted</th>
      </tr>
    </thead>
    <tbody>
        {% for beer in beers%}
            <tr>
                <th scope="row">{{beer.name}}</th>
                <td> {{beer.name}} </td>
                <td> {{beer.type}} </td>
                <td> {{beer.tasting_notes}} </td>
                <td> {{beer.date_tasted}} </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>  
{% endblock %}