{% layout 'layout.liquid' %}
{% block content %}
<br>
<div class="container-fluid">
    <h2>{{apiBrewery.name}} </h2>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Link to Website</th>
            <th scope="col">Lists</th>
            <th scope="col">Type</th>
            <th scope="col">Street</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">postal_code</th>
            <th scope="col">country</th>
            <th scope="col">longitude</th>
            <th scope="col">latitude</th>
            <th scope="col">Phone</th>
            <th scope="col">Brewery Info Last Update </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 
                    <a href={{apiBrewery.website_url}}>
                        <button type="button" class="btn btn-light">{{apiBrewery.name}}</button>
                    </a>
                </td>
                <td>
                    {% if localBrewery.visited %}
                            <form action="/brewery/{{localBrewery.id }}?_method=PUT" method="POST">
                                Visited &nbsp <input type="submit" value="Change Lists" class="btn btn-outline-secondary btn-sm">
                            </form>
                    {% else %}
                            <form action="/brewery/{{localBrewery.id }}?_method=PUT" method="POST">
                                Bucket &nbsp <input type="submit" value="Change Lists" class="btn btn-outline-secondary btn-sm">
                            </form>
                    {% endif %}
                </td>
                <td> {{apiBrewery.brewery_type}} </td>
                <td> {{apiBrewery.street}} </td>
                <td> {{apiBrewery.city}} </td>
                <td> {{apiBrewery.state}} </td>
                <td> {{apiBrewery.postal_code}} </td>
                <td> {{apiBrewery.country}} </td>
                <td> {{apiBrewery.longitude}} </td>
                <td> {{apiBrewery.latitude}} </td>
                <td>
                    <a href="tel:{{apiBrewery.phone}}">
                        {{apiBrewery.phone}}
                    </a>
                </td>
                <td> {{apiBrewery.updated_at}} </td>
            </tr>
        </tbody>
    </table>
    <br>
       <div class="btn-group btn-group-sm" role="group">
        <form action="/brewery/{{ localBrewery.id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete Brewery Record" class="btn btn-danger">
        </form>
</div>
</div>
<h1 style="text-align: center;"> Beers Tasted</h1>
<div style=
" 
    display: flex;
    justify-content: center;
    margin: 1%;
">
    <a href="/beer/{{localBrewery.id}}/create">
        <button type="button" class="btn btn-success">Add Beer to Tasted List</button>
    </a>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Tasting Notes</th>
        <th scope="col">Date Tasted</th>
      </tr>
    </thead>
    <tbody>
        {% for beer in beers%}
            <tr>
                <th scope="row">{{beer.name}}</th>
                <td> {{beer.name}} </td>
                <td> {{beer.type}} </td>
                <td> {{beer.tasting_notes}} </td>
                <td> {{beer.date_tasted}} </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>  
{% endblock %}