{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/beer/{{beer.id}}/?_method=PUT" method="POST">
        <fieldset>
            <legend>Create New Beer Tasting for {{brewery.id}}</legend>
            <label class="form-label">Beer Name: </label>
            <input 
                type="text" 
                name="name" 
                class="form-control"
                value={{beer.name}}
            >
            <label class="form-label">Type/Style:</label>
            <input 
                type="text" 
                name="type" 
                class="form-control"
                value="{{beer.type}}"
            >
            <label class="form-label">Tasting Notes:</label>
            <textarea
                type="text"
                name="tasting_notes"
                class="form-control"
                value="{{beer.tasting_notes}}"
            >
            </textarea>
            <label class="form-label">Date Tasted:</label>
            <br>
            <input 
                type="date"
                name="date_tasted"
                value={{beer.date_tasted}} 
                class="form-check-date"
            >
        </fieldset>
        <br>
        <input type="submit" value="Submit Edits" class="btn btn-success">
    </form>
</div>
{% endblock %}