{% layout 'layout.liquid'%}
{% block content %}
    <h2 class="display-6">Beers Tasted List</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Tasting Notes</th>
            <th scope="col">Date Tasted</th>
          </tr>
        </thead>
        <tbody>
            {% for beer in beers%}
                <tr>
                    <th scope="row">
                        <a href="/beer/{{beer._id}}">
                            <button type="button" class="btn btn-info">{{beer.name}}</button>
                        </a>
                    </th>
                    <td> {{beer.name}} </td>
                    <td> {{beer.type}} </td>
                    <td> {{beer.tasting_notes}} </td>
                    <td> {{beer.date_tasted}} </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>  

{% endblock %}