{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Beers Tasted List</h2>
    <div class="row">
        {% for beer in beers %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ beer.name }}</h5>
            <div class="card-body">
                <p class="card-text">
                    Type/Style: {{ beer.type }}
                </p>
                <p class="card-text">
                    Tasting Notes: {{ beer.tasting_notes }}
                </p>
                <p class="card-text">
                    Date Tasted: {{ beer.date_tasted}}
                </p>
                <p class="card-text">
                    brewery: {{beer.brewery.name}}
                </p>
                <a href="/beer/{{ beer._id }}" class="btn btn-info">
                    View Beer
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}