{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Beers Tasted List</h2>
    <div class="row">
        {% for beer in beersWithBreweryPop %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">Visited Breweries</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Name: {{ beer.name }}
                </h5>
                <p class="card-text">
                    Type/Style: {{ beer.type }}
                </p>
                <p class="card-text">
                    Tasting Notes: {{ beer.tasting_notes }}
                </p>
                <p class="card-text">
                    Date Tasted: {{ beer.date_tasted}}
                </p>
                <p class="card-text">
                    brewery: {{beer.brewery.open_brewery_db_id }}
                </p>
                <p class="card-text">
                    owner Id: {{ beer.owner }}
                </p>
                <!-- <p class="card-text">
                    Amount: {{ example.amount }} -->
                </p>
                <a href="/beer/{{ beer.id }}" class="btn btn-info">
                    View Beer: #{{ beer.id }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}